.desktop-1-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslateblue);
  width: 1440px;
  height: 175px;
}
.test-analysis {
  position: relative;
}
.test-analysis-wrapper {
  position: absolute;
  top: 59px;
  left: 572px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.desktop-1-item,
.enter {
  font-family: var(--font-inter);
}
.desktop-1-item {
  border: 3px solid var(--color-darkslateblue);
  font-size: 15px;
  background-color: transparent;
  position: absolute;
  top: 227px;
  left: calc(50% - 222px);
  border-radius: 15px;
  box-sizing: border-box;
  width: 444px;
  height: 54px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
}
.enter {
  position: relative;
  font-size: 24px;
  color: #000;
  text-align: left;
}
.enter-wrapper {
  position: absolute;
  top: 1px;
  left: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.desktop-1-inner {
  cursor: pointer;
  border: 1px solid var(--color-darkslateblue);
  padding: 0;
  background-color: red;
  position: absolute;
  top: 305px;
  left: calc(50% - 51px);
  border-radius: 20px;
  box-sizing: border-box;
  width: 103px;
  height: 51px;
  overflow: hidden;
}
.desktop-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 40px;
  color: var(--color-white);
  font-family: var(--font-inter);
}
