body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-11xl: 30px;
  --font-size-31xl: 50px;
  --font-size-xl: 20px;
  --font-size-6xl: 25px;

  /* Colors */
  --color-white: #fff;
  --color-darkslateblue-100: #63328a;
  --color-darkslateblue-200: rgba(99, 50, 138, 0.99);
  --color-black: #000;

  /* Paddings */
  --padding-8xl: 27px;

  /* Border radiuses */
  --br-xl: 20px;
}
