.frame-icon,
.header-child {
  position: absolute;
  overflow: hidden;
}
.header-child {
  top: 96px;
  left: 0;
  width: 1440px;
  height: 926px;
  display: none;
}
.frame-icon {
  top: 12px;
  left: 14px;
  width: 68px;
  height: 73px;
}
.secure-exam-proctor {
  position: relative;
}
.frame,
.header {
  position: absolute;
}
.frame {
  top: 18px;
  left: 94px;
  width: 620px;
  height: 67px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.header {
  top: 0;
  left: 0;
  background-color: var(--color-darkslateblue-200);
  width: 1440px;
  height: 116px;
  mix-blend-mode: normal;
}
.frame-child,
.please-capture-your {
  position: absolute;
  top: 18px;
  left: 23px;
}
.frame-child {
  top: 118px;
  left: 392px;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 300px;
  height: 300px;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-darkslateblue-100);
  width: 238px;
  height: 64px;
}
.submit {
  position: absolute;
  top: 15px;
  left: 72px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.group-item,
.rectangle-parent {
  position: absolute;
  width: 238px;
  height: 64px;
}
.rectangle-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 478px;
  left: 240px;
}
.group-item {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 2px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
}
.re-capture {
  position: absolute;
  top: 14px;
  left: 33px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-inter);
  color: var(--color-darkslateblue-100);
  text-align: left;
  mix-blend-mode: normal;
}
.rectangle-group {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 478px;
  left: 659px;
  width: 238px;
  height: 64px;
}
.please-capture-your-photo-for-parent {
  position: absolute;
  top: 192px;
  left: 105px;
  width: 1188px;
  height: 563px;
  overflow: hidden;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
}
.capture-photo {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 853px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
