body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-11xl: 30px;
  --font-size-21xl: 40px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-darkslateblue: rgba(99, 50, 138, 0.99);

  /* Border radiuses */
  --br-3xs: 10px;
}
