.frame-child,
.frame-icon {
  position: absolute;
  overflow: hidden;
}
.frame-child {
  top: 96px;
  left: 0;
  width: 1440px;
  height: 926px;
  display: none;
}
.frame-icon {
  top: 12px;
  left: 14px;
  width: 68px;
  height: 73px;
}
.delete-an-exam {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 148px);
  font-weight: 500;
}
.frame-parent,
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslateblue);
}
.frame-parent {
  width: 1440px;
  height: 108px;
  mix-blend-mode: normal;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.group-child {
  border-radius: var(--br-3xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 234px;
  height: 68px;
}
.enter {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 16px;
  left: calc(50% - 47px);
  font-size: var(--font-size-11xl);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 95px;
  height: 36px;
}
.rectangle-parent {
  text-decoration: none;
  position: absolute;
  top: 425px;
  left: 603px;
  width: 234px;
  height: 68px;
}
.enter-the-exam {
  position: absolute;
  top: 42px;
  left: 35px;
  font-weight: 600;
}
.frame-item {
  border: 1px solid var(--color-black);
  background-color: var(--color-white);
  position: absolute;
  top: 32px;
  left: 647px;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 337px;
  height: 62px;
}
.enter-the-exam-id-you-want-to-parent {
  position: absolute;
  top: 170px;
  left: calc(50% - 502px);
  width: 1005px;
  height: 131px;
  overflow: hidden;
}
.delete-with-id {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
