body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-14xl: 33px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
}
