.frame-icon {
  position: relative;
  width: 68px;
  height: 73px;
  overflow: hidden;
  flex-shrink: 0;
}
.change-password1 {
  position: relative;
  font-weight: 600;
}
.frame-parent {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #63328a;
  width: 2483px;
  height: 125px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 26px 27px;
  box-sizing: border-box;
  gap: 467px;
}
.confirm-password {
  position: relative;
}
.frame2 {
  width: 976px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frame-child {
  border: 1px solid var(--color-black);
  background-color: var(--color-white);
  position: relative;
  box-sizing: border-box;
  width: 419px;
  height: 45px;
}
.frame1,
.frame3,
.frame4 {
  display: flex;
  flex-direction: column;
}
.frame3 {
  width: 724px;
  overflow: hidden;
  align-items: flex-end;
  justify-content: center;
  margin-top: -35px;
}
.frame1,
.frame4 {
  left: 0;
  width: 976px;
  height: 50px;
  align-items: center;
  justify-content: flex-start;
}
.frame1 {
  position: absolute;
  top: 254px;
  overflow: hidden;
}
.frame4 {
  top: 127px;
}
.frame,
.frame4,
.frame7 {
  position: absolute;
  overflow: hidden;
}
.frame7 {
  top: 0;
  left: 0;
  width: 976px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame {
  top: 246px;
  left: calc(50% - 440px);
  width: 871px;
  height: 393px;
  font-size: var(--font-size-14xl);
  color: var(--color-black);
}
.group-child {
  position: absolute;
  top: 0;
  left: calc(50% - 168px);
  border-radius: 10px;
  background-color: #457eff;
  width: 336px;
  height: 86px;
}
.submit {
  position: absolute;
  top: 23px;
  left: calc(50% - 63px);
  font-size: var(--font-size-14xl);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.rectangle-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 672px;
  left: calc(50% - 168px);
  width: 336px;
  height: 86px;
}
.change-password {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1036px;
  overflow: hidden;
  text-align: left;
  font-size: 50px;
  color: var(--color-white);
  font-family: var(--font-inter);
}
