.frame-child4,
.frame-icon2 {
  position: absolute;
  overflow: hidden;
}
.frame-child4 {
  top: 96px;
  left: 0;
  width: 1440px;
  height: 926px;
  display: none;
}
.frame-icon2 {
  top: 12px;
  left: 14px;
  width: 68px;
  height: 73px;
}
.student-dashboard2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 518px;
  height: 78px;
  flex-shrink: 0;
}
.frame14 {
  position: absolute;
  top: 18px;
  left: 94px;
  width: 620px;
  height: 67px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-child5 {
  position: absolute;
  top: 12px;
  left: 1328px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.frame-container {
  position: relative;
  background-color: var(--color-darkslateblue);
  width: 1440px;
  height: 108px;
  mix-blend-mode: normal;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.frame16 {
  position: relative;
  width: 67px;
  height: 80px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame13,
.frame15 {
  width: 1440px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frame13 {
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: flex-start;
}
.current-password {
  position: relative;
}
.frame19 {
  width: 976px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.rectangle-input {
  border: 1px solid var(--color-black);
  background-color: var(--color-white);
  position: relative;
  box-sizing: border-box;
  width: 419px;
  height: 45px;
}
.frame18,
.frame20,
.frame21,
.frame24 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.frame20 {
  width: 724px;
  align-items: flex-end;
  justify-content: center;
  margin-top: -35px;
}
.frame18,
.frame21,
.frame24 {
  position: absolute;
  top: 0;
  left: 0;
  width: 976px;
  height: 50px;
  align-items: center;
  justify-content: flex-start;
}
.frame21,
.frame24 {
  top: 127px;
}
.frame24 {
  top: 254px;
}
.frame-child8,
.submit {
  cursor: pointer;
  border: 0;
  padding: 0;
  position: absolute;
}
.frame-child8 {
  background-color: var(--color-cornflowerblue);
  top: 427px;
  left: 208px;
  border-radius: var(--br-3xs);
  width: 370px;
  height: 68px;
}
.submit {
  background-color: transparent;
  top: 443px;
  left: 323px;
  font-size: var(--font-size-11xl);
  font-weight: 700;
  font-family: var(--font-inria-sans);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.frame17 {
  position: absolute;
  top: 255px;
  left: 232px;
  width: 976px;
  height: 514px;
  overflow: hidden;
}
.dashboard2,
.profile3,
.results3 {
  text-decoration: none;
  position: absolute;
  top: 420px;
  left: calc(50% - 37px);
  font-weight: 700;
  color: inherit;
}
.dashboard2,
.results3 {
  top: 257px;
  left: calc(50% - 42px);
}
.dashboard2 {
  top: 94px;
  left: calc(50% - 59px);
}
.frame-child9 {
  position: absolute;
  top: 543px;
  left: 29px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslateblue);
  width: 119px;
  height: 102px;
}
.change2 {
  margin: 0;
}
.change-password3 {
  position: absolute;
  top: 569px;
  left: calc(50% - 53px);
  color: var(--color-lightskyblue-100);
}
.logout2,
.profile-group {
  position: absolute;
  font-size: var(--font-size-6xl);
  color: var(--color-darkslateblue);
  font-family: var(--font-inria-sans);
}
.logout2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 748px;
  left: calc(50% - 39px);
  font-weight: 700;
  text-align: left;
  display: inline-block;
}
.profile-group {
  top: 108px;
  left: 0;
  background-color: var(--color-lightsteelblue);
  width: 176px;
  height: 926px;
  overflow: hidden;
  mix-blend-mode: normal;
}
.change-password2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-14xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
